.fa-bars{
    font-size: 10px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    width:40px;
    height: 30px;
    border-radius: 9px;
    border-style: groove;
    color:white
}
.fa-user{
    font-size: 10px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    width:40px;
    height: 30px;
    border-radius: 9px;
    border-style: groove;
    color:white
}
.fa-download{
    font-size: 10px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    width:40px;
    height: 30px;
    border-radius: 9px;
    border-style: groove;
    color:white
}
.fa-angle-right{
    position: relative;
    margin-left: 100px;
    bottom: 38px;
    right: 6px;
    color: dodgerblue;
    font-size: 15px;
}
u{
    color:dodgerblue;
}
