
.img-fluid{
    width:99%;
    
    
}
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9%;
    z-index: 50; 
    width:98%;
}
.top{
    position: relative;
    top:40px;
}
.Home{
    align-items: center;
    text-align: center;
    
    position: relative;
    top: 30px;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(194, 194, 39) !important;
}
.btn-dark{
    border-style:groove !important ;
    border-radius: 1px !important;
    background-color: rgb(71, 68, 68) !important;

}
.btn-dark:hover{
    background-color: white !important;
    color:black !important;
}
.fa-bag-shopping{
    margin-left: 200px;
    font-size: 30px;
}
.footer{
    background-color: rgb(71, 68, 68);
    margin-top: 400px;
    height: 450px;
    width:90%;
    position: relative;
    left:50px
    
    
}
.brand{
    color: white;
    text-align: center;
    position: relative;
    top:50px;
}
.fa-location-dot{
    font-size: 24px;
}
.fa-phone-volume{
    font-size: 24px;
}
.fa-envelope{
    font-size: 24px;
}


.col-md-4 {
    position: relative !important;
    left: 70px !important;
    top: 90px !important;
    color: white;
    font-weight: bold;
 }

.col-lg-6{
    position: relative;
    top:200px;
    left:30px;
    
    width: 100px;
}


.btn-primary{
    color:white !important;
    background-color: orange !important;
    
    border-color:orange !important ;
    border-radius: 1px !important;
}
.btn-primary:hover{
    background-color: rgb(71, 68, 68) !important;
    color: orange !important;
}
.icons{
    display:inline-block;
    position: relative;
    left:230px;
    color:white;
    font-size: 30px;
    
}
.about{
    text-align: center;
    position: relative;
    top:150px;
    right:30px;
}
.Fresh{
    position: relative;
    top:300px;
    
}
.all{
    position: relative;
    top:200px;
    
}
.straw{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;
}
.orange{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;

}
.apple{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;
}
.banana{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;

}
.mango{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;
}
.blue-berrey{
    position: relative;
    right:50px;
    width: 99%;
    height: 99%;

}
.card{
    position: relative;
    right:80px;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 50px;

}



.card:hover .overlay {
 opacity:0.8;
}
.navbar-light{
    margin-left: 13px;
  }
.fa-user{
    font-size: 100px;
    color:rgb(58, 85, 112);
    position: relative;
    top:20px;
}
.login{
    color: rgb(58, 85, 112);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top:40px;
}
.add{
    position: relative;
    
}
.input-group {
    position: relative;
    left: 120px;
    
  }
  
.icon {
    position: absolute;
    
    
    transform: translateY(-100%);
    border-radius: 5px;
    color: rgb(58, 85, 112);
  }
  .input-group input {
    padding-left: 40px;
    border-radius: 5px; 
    margin-left: 30px;
    align-items: center;
    position: relative;
    
  }
  .btn-secondary{
    background-color: rgb(58, 85, 112) !important;
    color:white !important;
    width:40% !important;
    position: relative !important;
    left:8px !important;
    border-color: rgb(58, 85, 112) !important;
  }
  .btn-secondary:hover{
    background-color: white !important;
    color:rgb(58, 85, 112) !important;
  }
  .rem{
    position: relative !important;
    right:20px !important;
  }
  .Body{
    background-image: url('blue-berrey.jpg');
    background-size: cover;
    background-position: center;
  }
  .nav-link:hover{
    color:  rgb(194, 194, 39) !important;

  }
  .body-cart{
    padding-top: 30px ;
    display: flex;
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
  }
  .table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
  }
  .table img{
    width:70px;
  }
  .table th{
    text-align: center;
  }
  .table td{
    text-align: center;
    border: none;
  }
  .table input{
    width:70px;
    padding:5px 5px 5px 15px;
  }
  
  .nav-link{
    position: relative;
    left: 400px;
    margin-left: 40px;
    color:white;
    
  }
.head-cart{
    background-color: rgb(65, 65, 65);
    text-align: center;
    width:100% ;
    color: white;
    height: 300px;
}
.head-cart h1{
    position: relative;
    top:150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head-cart p{
    position: relative;
    top:150px;

}
.button-cart{
    color:white;
    background-color: rgb(2, 92, 2);
    width:100px;
    border-style:hidden ;
    height: 30px;
    border :1px solid rgb(2, 92, 2);
    
}
.button-cart:hover{
    background-color: #fff;
    color:black;
}
.subtotal {
    width:50%;
    
    border:1px solid #e2e9e1;
    padding:30px;
}
.subtotal table{
    
    width:100%;
    margin-bottom: 20px;
}
.subtotal table td{
    border:1px solid #e2e9e1;
    padding:10px;
    text-align: center;
}
.subtotal button{
    color:white;
    background-color: rgb(2, 92, 2);
    border-style:hidden ;
    border :1px solid rgb(2, 92, 2);
    height: 40px;

}
.subtotal button:hover{
    background-color: #fff;
    color:black;

}
  
 form{
    text-align: center;
    background-color: white;
    margin-top:50px;
    height: 100%;
    position: relative;
    border-radius:10px ;
    border:1px solid grey;
    box-shadow: 20px 20px 30px rgb(71, 68, 68);
 } 

html, body {
    height: 100%;
    overflow-x: hidden;
}
nav{
    position: relative;
    left:20px;
    width: 1300px;
    bottom: 30px;
    border-radius: 5px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
b{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
hr{
    width:15%;
    position: relative;
    left:20px;
}
h2{
    position: relative;
    left:230px;
    bottom: 40px;
}



  
  
  
    