.first
    {
    
        width: 600px;
        height: 300px;
        border-radius: 6px;
        margin-right: 200px;
        margin-left: 340px;
        margin-top: 30px;
        justify-content: stretch;
     
}


